<script type="text/javascript" src="/js/core/maps.js"></script>
<div id="map-canvas"></div>
<div id="map-controls"><div class="span12" style="text-align:center;margin-top:20px;">map controls go here.</div></div>