<!doctype html>
<html>
<head>
    <title>mTRAC | temp: chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/chat.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/core/chat.js"></script>
</head>
<body>
<div class="container">

    <h1>chat.inDevelopment</h1>

    <ul id="messages"></ul>
    <form action="">
        <input id="m" autocomplete="off" /><input id="chat-color" type="color"/><button>Send</button>
    </form>

</div>

</body>
</html>
