<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>mTRAC | home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script type="text/javascript" src="/js/googleanalytics.js"></script>
</head>
<body>
<div class="container">

    blah

</div>
</body>
</html>