<!-- views/index.ejs -->
<!doctype html>
<html ng-app="MTRACIndexApp">
<head>
	<title>mTRAC</title>
	<meta name="description" content="Developing a collaborative learning environment of the future.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="/js/googleanalytics.js"></script>
	<script type="text/javascript" src="/js/ng/index.js"></script>
</head>
<body>

<div class="container auth">
    <div id="big-form" class="well auth-box">
    <% if (message.length > 0) { %>
		<div class="alert alert-danger login-alert"><%= message %></div>
	<% } %>
      <form action="/login" method="post">
        <fieldset ng-controller="LoginFormController">       
  		<div class="form-group">
			<label ng-show="usernameValue != ''" id="usernameLabel" for="loginUsername" class="label-floatlabel">username</label>
			<input ng-model="usernameValue" ng-init="usernameValue='herokuteam'" id="loginUsername" type="text" class="form-control" name="username" placeholder ="username">
		</div>

        <div class="form-group">
			<label ng-show="passwordValue != ''" id="passwordLabel" for="loginPassword" class="label-floatlabel">password</label>
			<input ng-model="passwordValue" id="loginPassword" type="password" class="form-control" name="password" placeholder="password">
		</div>

        <button type="submit" class="btn btn-default" id="login-submit">Log in</button>
        </fieldset>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>

</body>
</html>