<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>mTRAC</title>
	<meta name="description" content="Developing a collaborative learning environment of the future.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<!--<script type="text/javascript" src="/js/jquery.min.js"></script>-->
</head>
<body>
<header class="header" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <p class="brand">mTRAC</p>
            </a>
        </div>
    </div>
</header>
<div class="container main-content-container">
    <div class="main-content">
<div class="container-fluid">
    <div class="front-welcome">
        <div class="row">
            <div class="col-xs-12 rowcol">
                <div class="front-welcome-logo-container">
                    <img class="front-welcome-logo img-responsive center-block" src="/img/drdc-logo.jpg" alt="DRDC">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="auth">
    <div id="form-container">
    <% if (message.length > 0) { %>
		<div class="alert alert-danger login-alert"><%= message %></div>
	<% } %>
      <form action="/login" method="post">
          <div class="input-container">
			<input id="loginUsername" type="text" class="form-control" name="username" placeholder ="username"/>
			<input id="loginPassword" type="password" class="form-control" name="password" placeholder="password"/>

            <button type="submit" class="btn btn-default" id="login-submit">Log in</button>
          </div>
      </form>
    </div>
    <div class="clearfix"></div>
</div>
    </div>
    </div>
<footer id="footer">
    <div class="wrapper">

        <ul id="footer-nav">
            <li><p id="copyright">© 2015 DRDC</p></li>
            <li><a href="http://www.drdc-rddc.gc.ca/en/index.page" target="_blank" rel="nofollow">drdc-rddc.gc.ca</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="mailto:help@domain.com">inquiries</a></li>
        </ul>
    </div>
</footer>
</body>
</html>