/*TEMP*/

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
#message-input-form {
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FAFAFA;
    border-top: 1px solid rgba(48,72,72,0.30);
}
#message-input {
    border: 0;
    padding: 10px;
    width: 100%; margin-right: .5%; resize: none; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    bottom: 50px;
    top: 0px;}
#messages li { padding: 5px 10px; white-space: pre-wrap; }
#messages li:nth-child(odd) { background: #eee; }
#chat-color {margin-left: 5px; margin-right: 10px; top: 3px; position: relative;}

#chat-container {
    top: 42px;
    height: calc(100% - 42px);
    width: 100%;
    position: relative;
    background: #FAFAFA;
    border-left: 1px solid rgba(48,72,72,0.30);
}

#new-messages-notification {
    display: none;
}
    #new-messages-notification span {
        text-align: center;
        width: 100%;
        position: absolute;
        background-color: white;
        z-index: 1001;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(48,72,72,0.30);
    }