@media only screen
and (max-device-width : 480px) {

body{
padding-top:30px;	
}

#login-submit {
	width: 100%;
}

}

@media only screen
and (min-device-width : 481px)
{
body{
padding-top:80px;	
}
}

@media only screen
and (max-width : 450px) {

    #footer {
        text-align: left !important;
        padding-left: 30px;
    }

    #footer .wrapper {
        padding-bottom: 20px;
    }

    #footer-nav li {
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
        float: none !important;
    }
}

@media only screen
and (max-height : 329px) {
    #footer {
        position: fixed;
        top: 329px !important;
    }
}

@media only screen
and (min-height : 330px) {
    #footer {
        position: fixed;
        bottom: 0;
    }
}


body {
	/*background: #1b1b24;*/
}

.main-content-container {
    margin: auto;
    position: absolute;
    top: 42px;
    left:0;
    bottom: 54px;
    right: 0;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.main-content {
    margin: auto;
}

.form-control {
    background: rgba(204,204,204,0.60);
    border: 1px solid rgba(151,151,151,0.30);
    border-radius: 2px;
    margin: 10px 0;
}

.input-container {
    max-width: 400px;
    margin: auto;
}

.front-welcome {
    color: white;
    text-align: center;
}

.front-welcome .rowcol {
    height: 100%;
}

.front-welcome .row {
    height: 80px;
}

.front-welcome-logo-container {
    position: relative;
    height: 100%;
}

.front-welcome-logo {
    max-height: 100%;
}

.login-alert {
	padding-top:5px;
	padding-bottom: 5px;
}

#welcome-instructions {
	color: white;
}

#login-submit {
    background: #4A90E2;
    border: 1px solid #4383CC;
    border-radius: 2px;
    float:right;
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
}

header {
    background-color: #304848;
    top: 0px;
    position: absolute;
    width: 100%;
}

.navbar-brand {
    height: 42px;
    padding: 12px 15px;
}

header, .navbar-brand {
    height: 42px;
}

.brand {
    padding-right: 30px;
    font-family: AvenirNext-DemiBold;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 22px;
}

#footer {
    width: 100%;
    background: #FFFFFF;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 0px;
    text-align: center;
    bottom: 0px;
    position:absolute;
    height: 54px;
}

.wrapper {
    width: auto;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

#footer-nav {
    padding: 0px;
    list-style-type:none;
    font-size: 12px;
    line-height: 14px;
    margin: 0px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-family: AvenirNext-UltraLight;
    color: #304848;
}

#footer-nav li {
    margin-right: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

#footer-nav li a {
    /*color: white !important;*/
}

#copyright {
    margin-bottom: 0px;
    /*color:lightgray;*/
}